ion-title{
    background-color: #052444;
    padding: 40px ;
}

ion-input{
    margin-top: 25;
    color: rgb(234, 179, 31); 
    border-radius: 5px; 
    padding: 100px; 
    margin-bottom: 10px; 
}



ion-link {
    margin-top: 10px;
    color: rgb(88, 138, 188);
    display: block;
    text-align: center;
    
}


mat-spinner {
    margin-top: 10px ;
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 2x;
    height: 2px; 
}

p{
    position: absolute;
    margin-top: 10px;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}








