<ion-header>
  <ion-toolbar>
   <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="logo-container">
    <ion-img src="assets/img/duoc.png"class="logo"></ion-img>
  </div>
  
<br>
<form class="form-container">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="Usuario"></ion-input>
    </ion-item>
<br>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="{{ hide ? 'password' : 'text' }}"></ion-input>
      <ion-icon name="{{ hide ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePassword()"></ion-icon>
    </ion-item>

<br>

</form>
<ion-button class="custom-input" (click)="login()">Ingresar </ion-button>


    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <p *ngIf="showSpinner">Cargando...: {{ loadingPercentage }}%</p>    


  <ion-link [routerLink]="['/recuperar']" color="primary" id="ContraseñaPerdida">
      ¿Olvidaste tu contraseña?, clickea aqui.
  </ion-link>
  
</ion-content>


 
