ion-content {
--background:#223866;
  animation: slide-from-right 1.5s ease-out;
}
ion-back-button{

  animation: slide-from-right 1s ease-out;
}

.animacion-user{
  animation: slide-from-right 2s ease-out;
  font-size: 2em; 
}

ion-card{
  display: flex;
  justify-content: flex-start;
  margin-right: 150px;
  margin-left: 150px;

}